obj/
debug/
*.suo
*.user
*.exe
x64/
.vs/
*.psess
*.userprefs
Assembly-CSharp.Patched.dll
*.manifest
*.il
UnturnedFrenetic/Assembly-CSharp-firstpass.dll
UnturnedFrenetic/bin/Release/*.dll
UnturnedFrenetic/bin/Release/*.pdb
UnturnedFrenetic/bin/Release/*.xml
UnturnedFreneticInjector/bin/Release/*.dll
UnturnedFreneticInjector/bin/Release/*.pdb
UnturnedFreneticInjector/bin/Release/*.xml
UnturnedFreneticInjector/bin/Debug/*.dll
UnturnedFreneticInjector/bin/Debug/*.pdb
UnturnedFreneticInjector/bin/Debug/*.xml
